# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Suidarg -- 2D Space Shooter.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jefferson\source\repos\Suidarg -- 2D Space Shooter\.idea\.idea.Suidarg -- 2D Space Shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
